html,
body {
  font-family: 'Titillium Web', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar Stryle */
.navbar-translucent {
  background-color: rgba(0, 0, 0, 0.95);
}

/* Comet Style */
.comet-green {
  color: forestgreen;
}

/* Header Styles */

.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hero.png');
  width: 100%;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About Me Styles */

.skills-logo {
  font-size: 1em;
}

.welcome-custom {
  font-size: 1.2em;
}

.short-info-card-justify {
  text-align: justify;
}

.short-info-card-center {
  text-align: center;
}

.short-info-card-img {
  background-image: url(../img/profile.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30%;
  min-height: 250px;
}

.short-info-sign {
  font-style: italic;
  font-weight: bold;
  font-size: 0.9em;
}

/* Portfolio Styles */

.badge-color-goldenrod {
  background-color: goldenrod;
}
